<!doctype html>
<html lang = xmlns:th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HuyShop</title>
</head>
<body>
<form th:object="${role}" th:action="@{/admin/role/create}" method="post">
    <table>
        <tr>
            <td>NAME</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
    </table>
    <button type="submit" value="add">add</button>
    <button type="reset" value="reset">reset</button>
</form>
</body>
</html>